.main {
  width: 70%;
  position: fixed;
  right: 0;
}

.main-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main-des {
  width: 50%;
  line-height: 1.5rem;
}

.bottom-txt {
  position: fixed;
  bottom: 1rem;
  left: 55%;
}

.none {
  display: flex;
}

/* media queries */

@media screen and (max-width: 768px) {
  .main {
    width: 93%;
    position: fixed;
    right: auto;
  }
  .main-img {
    width: 280px !important;
  }
  .main-title {
    font-size: 1.5rem;
  }
  .main-des {
    width: 100%;
    line-height: 1.5rem;
    text-align: center;
    font-size: 0.8rem;
  }
  .bottom-txt {
    position: fixed;
    bottom: 1rem;
    left: 28%;
  }
  .none {
    display: none !important;
  }
}
